body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
    line-height: 1.5em;
}

#box1 {
    border: 5px dotted #cccccc;
    padding: 20px;
    margin: 20px 0 ;
}

.box2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    /* font-style: italic; */
    /* text-decoration: underline; */
    letter-spacing: 0.5em;
}

#box2 {
    border: 5px blue solid;
    border-right: 5px red solid;
    border-top: 5px red solid;
    background-color: darkgreen;

    padding: 10px 5px;
    color: cornflowerblue;
}


.container {
    width: 80%;
    margin: auto;
}